
@import url('https://fonts.googleapis.com/css?family=Caveat|Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: auto;
}

.header{
    width: 70vw;
    height: 200px;
    margin: 2% auto;

    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;


}
.topbar{
    text-align: right;
    display: flex;
    justify-content: flex-end;

}
.tlinks{
    margin-right: 4%;
}
.nlinks{
    text-decoration: none;
    padding: 24px;
    text-transform: uppercase;
    color: #000;
}
#logo{

    font-family: 'Caveat', cursive;
    margin-top: 4%;

}

.main{
    width: 70vw;
    height: auto;
    margin: -4% auto;

    font-family: 'Raleway', sans-serif;

}
.divider{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}




.buy{
    width: 130px;
    height: 28px;
    background: none;
    border: 1px solid #000;
    padding: 2px;
    margin-top: 4%;

}
.b1{
    text-align: center;
    width: 260px;
}
.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 6%;
    margin-top: 4%;

}

.footer{
    width: 100vw;
    height: 200px;
    margin-top: 16%;

    font-family: 'Raleway', sans-serif;

    font-size: 0.7em;
    border-top: 1px solid #eee;
    padding-top: 2%;
}
.fdata{
    display: flex;
    justify-content: space-around;
}

.line1 {
    display: flex;
    flex-direction: column;
}

.line2 {
    display: flex;
    flex-direction: column;
}

.line3 {
    display: flex;
    flex-direction: column;
}
.social{
    font-size: 1.4em;
}
.social i{
    padding: 20px;
}

.bottom{
    text-align: center;
    display: flex;
    margin-top: 6%;
    margin-bottom: 4%;

    justify-content: space-around;
    border-top: 1px solid #eee;
    padding-top: 2%;
}
.top{
    width: 130px;
    height: 28px;
    background: none;
    border: 1px solid #000;
    padding: 2px;
    margin-top: 4%;
    border-radius: 2px;
}
.bottom i{
    font-size: 2em;
    color: #000;
}
.bottom i:hover{
    color: rgb(255, 87, 87);
}