@import url('https://fonts.googleapis.com/css?family=Gruppo|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');




*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
}
.header{
    width: 96vw;
    height: 160px;
    border-bottom: 1px solid #eee;
    padding-bottom: 1%;
    margin: 1% auto;

    font-family: 'Source Sans Pro',sans-serif ;



}
.rightmenu{
    display: flex;
}
#logo{

    font-family: 'Gruppo',sans-serif ;

   
    

    font-family: 'Oxygen', sans-serif;




    margin-right: auto;
    color: rgb(25, 22, 34);
    

}
.rightmenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links{
    margin-right: 30px;
}
.links i{
    padding: 24px;
}
.hire{
    width: 80px;
    height: 38px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #000;
    background: none;
}
.hire:hover{
    background: rgb(17, 96, 187);
    color: #fff;
    border: none;
}
.nlinks{
    text-decoration: none;
    padding-left: 64px;
    color: rgb(46, 46, 46);
  
}
.mlinks{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}




.main{
    width: 90vw;
    height: auto;
    margin: 1% auto;
    font-family: 'Source Sans Pro',sans-serif ;
    margin-bottom: 12%;
}
.sortsection{
    display: flex;
    justify-content: space-between;
 
    align-items: center;
}
.sort a{
    padding-left: 18px;
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    opacity: 0.7;

}
.sorticons i{
    padding-left:20px ;
    opacity: 0.5;
    font-size: 0.8em;
}

.gallery{
    display: grid;
    margin-top: 8%;
    /* grid-template-areas: 'box' 'box' 'box' 'box'; */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7%;
    /* display: flex;
    flex-wrap: wrap; */
    /* display: flex;
    justify-content: space-between; */

    

}

.box{
     /* grid-area: box;  */
     margin-bottom: 20%;
  
}

.footer{
    width: 100vw;
    height: 80px;
    padding-top: 8%;
    margin-top: 20%;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    font-family: 'Oxygen', sans-serif;
    text-align: center;

}
.social i{
    padding-right: 24px;
}