
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: auto;
}


.header{
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% auto;
}

.nlinks{
    padding: 50px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 0.9em;
}

.social i{
    padding-left: 24px;
    font-size: 0.9em;
}
.main{
    width: 96vw;
    height: auto;
    margin: 2% auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.title{
    margin-bottom: 8%;
    text-align: center;
    margin-top: 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 12%;
    margin-left: 2%;
}